<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <a class="navbar-brand" href="/about">
      Hello Buddy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynav2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="dashboard123">
            <a class="nav-link" routerLink="/dashboard">
              My Dashboard
            </a>
          </li>
          <li class="nav-item" id="logout123">
              <a class="nav-link" routerLink = "/login">
                Logout
              </a>
          </li>
        </ul>
      </div>
</nav>
<div class="container">
    <h1>About us</h1>
    <br><br><br><br><br>
    <h5>Phone number :  +91-9121621918</h5>
    <h5>Email Address :  poornachandraraokompala@gmail.com</h5>
</div>